<!DOCTYPE html>
<html>
  <head>
   <meta charset="UTF-8">
   <title>영화 소개(ET)</title>
  </head>
<body>

<table border=1>
    <tr class="1"><td><center><iframe width="727" height="409" src="https://www.youtube.com/embed/9FqdTiYATA0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center></td></tr>
    <tr class="2"><td><center><strong>영화 소개</strong></center><br>
어느 한적한 마을의 숲속에 우주선이 나타난다. 우주선에서 내린 외계인들은 지구의 각종 표본들을<br>
 채취하던 중 인간들이 나타나자 서둘러 지구를 떠나는데, 그 와중에 뒤쳐진 한 외계인만 홀로 남게<br>
 된다. 방황하던 외계인은 한 가정 집에 숨어들고, 그 집 꼬마 엘리어트과 조우하게 된다. 엘리어트는<br>
 외계인에게 E.T.(Extra-Terrestrial)란 칭호를 붙여주고 형 마이클과 여동생 거티에게 E.T.의 존재를<br>
 밝힌다. 그때부터 삼남매는 엄마의 눈을 속인 채 집안에서 몰래 E.T.를 돌봐준다. 어느새 아이들과<br>
 E.T.사이엔 끈끈한 정이 생기고, 특히 엘리어트는 E.T.와 텔레파시로 교감할 정도로 가까워진다. 그러나<br>
 E.T.는 자신의 별로 돌아가야할 몸. 그는 아이들의 도움을 받아 집안의 잡동사니로 자신의 별과 교신할<br>
 통신장비를 만든다. 그리고 할로윈 축제를 이용해, 우주선이 착륙했던 숲속으로 가서 그곳에 통신장비를<br>
 설치하지만, 그만 체력의 급격한 소모로 탈진 상태에 빠지는데...
</table>
</body>
</html>