<!DOCTYPE html>
<html>
  <head>
   <meta charset="UTF-8">
   <title>영화 소개(라라랜드)</title>
  </head>
<body>

<table border=1>
    <tr class="1"><td><center><iframe width="727" height="409" src="https://www.youtube.com/embed/hlUSgRkkgtw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center></td></tr>
    <tr class="2"><td><center><strong>영화 소개</strong></center><br>
꿈을 꾸는 사람들을 위한 별들의 도시 ‘라라랜드’. 재즈 피아니스트 ‘세바스찬’(라이언 고슬링)과<br>
 배우 지망생 ‘미아’(엠마 스톤), 인생에서 가장 빛나는 순간 만난 두 사람은 미완성인 서로의<br>
 무대를 만들어가기 시작한다.
</table>
</body>
</html>