<!DOCTYPE html>
<html>
  <head>
   <meta charset="UTF-8">
   <title>영화 소개(인생은 아름다워)</title>
  </head>
<body>

<table border=1>
    <tr class="1"><td><center><iframe width="727" height="409" src="https://www.youtube.com/embed/0IDlKhpZ9V0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center></td></tr>
    <tr class="2"><td><center><strong>영화 소개</strong></center><br>
로마에 갓 상경한 시골 총각 ‘귀도’는 운명처럼 만난 여인 ‘도라’에게 첫눈에 반한다. 넘치는 재치와 유머로<br>
 약혼자가 있던 그녀를 사로잡은 ‘귀도’는 ‘도라’와 단란한 가정을 꾸리며 분신과도 같은 아들 ‘조수아’를<br>
 얻는다. ‘조수아’의 다섯 살 생일, 갑작스레 들이닥친 군인들은 ‘귀도’와 ‘조수아’를 수용소 행 기차에 실어<br>
버리고, 소식을 들은 ‘도라’ 역시 기차에 따라 오른다.
</table>
</body>
</html>