<!DOCTYPE html>
<html>
  <head>
   <meta charset="UTF-8">
   <title>영화 소개(티파니에서 아침을)</title>
  </head>
<body>

<table border=1>
    <tr class="1"><td><center><iframe width="727" height="409" src="https://www.youtube.com/embed/s0ihkhhHpv8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center></td></tr>
    <tr class="2"><td><center><strong>영화 소개</strong></center><br>
소매가 치렁한 이브닝 드레스, 얼굴을 반이나 가린 검은 안경. 그녀는 티파니 보석상을 활보하며 흥미로운<br>
 눈빛으로 보석을 바라본다. 한 손에 빵을 들고, 우아한 몸짓으로 새벽거리를 리드미컬하게 걸어가는 그녀의<br>
 이름은 홀리(Holly Golightly: 오드리 헵번 분), 사실 그녀는 택사스 농부의 아내로 어떻게 그녀가 맨하탄에<br>
 정착했는지 알 수 없다. 가난한 작가인 폴(Paul Varjak: 죠지 페파드 분)은 홀리의 이웃으로 같은 아파트에 살고 있다.
</table>
</body>
</html>