<!DOCTYPE html>
<html>
  <head>
   <meta charset="UTF-8">
   <title>영화 소개(매드맥스)</title>
  </head>
<body>

<table border=1>
    <tr class="1"><td><center><iframe width="727" height="409" src="https://www.youtube.com/embed/AOVdjJ97mEQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center></td></tr>
    <tr class="2"><td><center><strong>영화 소개</strong></center><br>
종말이 가까운 황폐해진 세상에서 살인청부업자로 살아가고 있는 ‘티샤’는 어느 날 한 노파에게 의뢰를<br>
 받게 된다. 그녀의 의뢰는 자신의 모든 것을 빼앗아 간 악랄한 조직의 보스 ‘로저’를 죽여 달라는 것.<br>
 의뢰를 받아들인 티샤는 스스로 미끼가 되어 로저에게 접근하고, 그와 자신도 끔찍한 악연으로 연결되어<br>
 있음을 알게 되는데…
</table>
</body>
</html>