<!DOCTYPE html>
<html>
  <head>
   <meta charset="UTF-8">
   <title>영화 소개(뜨거운 것이 좋아)</title>
  </head>
<body>

<table border=1>
    <tr class="1"><td><center><iframe width="673" height="409" src="https://www.youtube.com/embed/d9p3zwyjl2Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center></td></tr>
    <tr class="2"><td><center><strong>영화 소개</strong></center><br>
1929년 시카고, 금주법 시대. 경찰을 피해 관속에 밀주를 넣어 운반하는 스페치 갱단을 쫓던 FBI는<br>
 이들이 들어간 술집를 침입하여 체포한다. 이 술집 악단의 베이스와 섹스폰 연주자인 죠(Joe/Junior:<br>
 토니 커티스 분)와 제리(Jerry/Daphne: 잭 레먼 분)는 빚에 쪼들린 딱한 주인공들이다. 직장을 잃은 두<br>
 사람은 일자리를 찾던 중 결국 얻어낸 직장이 금발 여자 악단이었다. 낙심한 두 사람은 우연히<br>
 주차장에서 갱단의 총싸움에 휘말리게 된다. 바로 스페치 갱단을 밀고한 찰리 일당을 무자비하게 해치우는<br>
 장면을 목격한 것이다. 이때부터 두 사람은 스페치 일당에게 쫓기는 몸이 된다. 옥신각신하던 두 사람은<br>
 결국 여자로 변장하여 그 여성 악단에 들어가기로 한다. 이들 악단과 합세하여 연주 장소인 플로리다행<br>
 열차에 오른 두 사람은 죠세핀과 데픈이라는 가명을 사용하며 여장으로 인해 계속해서 헤프닝을 벌인다.<br>
</table>
</body>
</html>