<!DOCTYPE html>
<html>
  <head>
   <meta charset="UTF-8">
   <title>영화 소개(터미네이터)</title>
  </head>
<body>

<table border=1>
    <tr class="1"><td><center><iframe width="727" height="409" src="https://www.youtube.com/embed/UQs2EZnlLyk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center></td></tr>
    <tr class="2"><td><center><strong>영화 소개</strong></center><br>
미래, 인류와 기계의 전쟁은 계속 되는 가운데 스카이넷은 인류 저항군 사령관 존 코너를 없애기 위해<br>
 액체 금속형 로봇인 T-1000을 과거의 어린 존 코너에게로 보낸다. 미래의 인류 운명을 쥔 어린 존 코너<br>
. 스카이넷의 T-1000은 거침없이 숨 가쁜 추격을 시작하는데…
</table>
</body>
</html>