<!DOCTYPE html>
<html>
  <head>
   <meta charset="UTF-8">
   <title>메인 화면</title>
  </head>
<body>
<center><img src='"C:\Users\user\PycharmProjects\django220325\static\fakeflix.png"' alt="fakeflix" style="text-align:center" width=250 height=100></center>
   <a href='회원가입.html'><input type="button" value="회원가입"  style="float: right;"/></a>
   <a href='로그인.html'><input type="button" value="로그인"  style="float: right;"/></a>
<br>
<br>


<p>
SF 영화
<table border=1 >
<colgroup>
  <col style="width:200px" /><col />
</colgroup>
<thead>
  <tr><th>매트릭스</th>
	<th>백투더퓨처</th>
	<th>인터스텔라</th>
	<th>E.T</th></tr>
</thead>
<tfoot>
  <tr><td><a href='영화소개(매트릭스).html'><center><input type="button" value="재생" /></center></a></td>
	<td><a href='영화소개(백 투더 퓨처).html'><center><input type="button" value="재생" /></center></a></td>
	<td><a href='영화소개(인터스텔라).html'><center><input type="button" value="재생" /></center></a></td>
	<td><a href='영화소개(ET).html'><center><input type="button" value="재생" /></center></a></td></tr>
</tfoot>
<tbody>
  <tr><td><img src=C:\Users\user\PycharmProjects\django220325\static\매트릭스.jpg" alt="매트릭스", width=200 height=300></td>
	<td><img src="C:\Users\user\PycharmProjects\django220325\static\백투더퓨처.jpg" alt="백투더퓨처" width=200 height=300></td>
	<td><img src="C:\Users\user\PycharmProjects\django220325\static\인터스텔라.jpg" alt="인터스텔라" width=200 height=300></td>
	<td><img src="C:\Users\user\PycharmProjects\django220325\static\ET.jpg" alt="ET" width=200 height=300></td></tr>
</tbody>
</table>
</p>
<br>
<br>
<p>
범죄 영화
<table border=1 >
<colgroup>
  <col style="width:200px" /><col />
</colgroup>
<thead>
  <tr><th>노인을 위한 나라는 없다</th>
	<th>대부</th>
	<th>레옹</th>
	<th>올드보이</th></tr>
</thead>
<tfoot>
  <tr><td><a href='영화소개(노인을 위한 나라는 없다).html'><center><input type="button" value="재생" /></center></a></td>
	<td><a href='영화소개(대부).html'><center><input type="button" value="재생" /></center></a></td>
	<td><a href='영화소개(레옹).html'><center><input type="button" value="재생" /></center></a></td>
	<td><a href='영화소개(올드보이).html'><center><input type="button" value="재생" /></center></a></td></tr>
</tfoot>
<tbody>
  <tr><td><img src="C:\Users\user\PycharmProjects\django220325\static\노인을위한나라는없다.jpg" alt="노인을위한나라는없다" width=200 height=300></td>
	<td><img src="C:\Users\user\PycharmProjects\django220325\static\대부.jpg" alt="대부" width=200 height=300></td>
	<td><img src="C:\Users\user\PycharmProjects\django220325\static\레옹.jpg" alt="레옹" width=200 height=300></td>
	<td><img src="C:\Users\user\PycharmProjects\django220325\static\올드보이.jpg" alt="올드보이" width=200 height=300></td></tr>
</tbody>
</table>
</p>
<br>
<br>
<p>
로맨스 영화
<table border=1 >
<colgroup>
  <col style="width:200px" /><col />
</colgroup>
<thead>
  <tr><th>뜨거운 것이 좋아</th>
	<th>라라랜드</th>
	<th>인생은 아름다워</th>
	<th>티파니에서 아침을</th></tr>
</thead>
<tfoot>
  <tr><td><a href='영화소개(뜨거운 것이 좋아).html'><center><input type="button" value="재생" /></center></a></td>
	<td><a href='영화소개(라라랜드).html'><center><input type="button" value="재생" /></center></a></td>
	<td><a href='영화소개(인생은 아름다워).html'><center><input type="button" value="재생" /></center></a></td>
	<td><a href='영화소개(티파니에서 아침을).html'><center><input type="button" value="재생" /></center></a></td></tr>
</tfoot>
<tbody>
  <tr><td><img src="C:\Users\user\PycharmProjects\django220325\static\뜨거운 것이 좋아.jpg" alt="뜨거운 것이 좋아" width=200 height=300></td>
	<td><img src="C:\Users\user\PycharmProjects\django220325\static\라라랜드.jpg" alt="라라랜드" width=200 height=300></td>
	<td><img src="C:\Users\user\PycharmProjects\django220325\static\인생은 아름다워.jpg" alt="인생은 아름다워" width=200 height=300></td>
	<td><img src="C:\Users\user\PycharmProjects\django220325\static\티파니에서 아침을.jpg" alt="티파니에서 아침을" width=200 height=300></td></tr>
</tbody>
</table>
</p>
<br>
<br>
<p>
전쟁 영화
<table border=1 >
<colgroup>
  <col style="width:200px" /><col />
</colgroup>
<thead>
  <tr><th>라이언 일병 구하기</th>
	<th>쉰들러 리스트</th>
	<th>웰컴투동막골</th>
	<th>캡틴 아메리카</th></tr>
</thead>
<tfoot>
  <tr><td><a href='영화소개(라이언 일병 구하기).html'><center><input type="button" value="재생" /></center></a></td>
	<td><a href='영화소개(쉰들러 리스트).html'><center><input type="button" value="재생" /></center></a></td>
	<td><a href='영화소개(웰컴투동막골).html'><center><input type="button" value="재생" /></center></a></td>
	<td><a href='영화소개(캡틴 아메리카).html'><center><input type="button" value="재생" /></center></a></td></tr>
</tfoot>
<tbody>
  <tr><td><img src="C:\Users\user\PycharmProjects\django220325\static\라이언 일병 구하기.jpg" alt="라이언일병구하기" width=200 height=300></td>
	<td><img src="C:\Users\user\PycharmProjects\django220325\static\쉰들러 리스트.jpg" alt="쉰들러 리스트" width=200 height=300></td>
	<td><img src="C:\Users\user\PycharmProjects\django220325\static\웰컴투동막골.jpg" alt="웰컴투동막골" width=200 height=300></td>
	<td><img src="C:\Users\user\PycharmProjects\django220325\static\캡틴 아메리카.jpg" alt="캡틴아메리카" width=200 height=300></td></tr>
</tbody>
</table>
</p>
<br>
<br>
<p>



액션 영화
<table border=1 >
<colgroup>
  <col style="width:200px" /><col />
</colgroup>
<thead>
  <tr><th>다크나이트</th>
	<th>매드맥스</th>
	<th>분노의 질주</th>
	<th>터미네이터</th></tr>
</thead>
<tfoot>
  <tr><td><a href='영화소개(다크나이트).html'><center><input type="button" value="재생" /></center></a></td>
	<td><a href='영화소개(매드맥스).html'><center><input type="button" value="재생" /></center></a></td>
	<td><a href='영화소개(분노의 질주).html'><center><input type="button" value="재생" /></center></a></td>
	<td><a href='영화소개(터미네이터).html'><center><input type="button" value="재생" /></center></a></td></tr>
</tfoot>
<tbody>
  <tr><td><img src="C:\Users\user\PycharmProjects\django220325\static\다크나이트.jpg" alt="다크나이트" width=200 height=300></td>
	<td><img src="C:\Users\user\PycharmProjects\django220325\static\매드맥스.jpg" alt="매드맥스" width=200 height=300></td>
	<td><img src="C:\Users\user\PycharmProjects\django220325\static\분노의 질주.jpg" alt="분노의 질주" width=200 height=300></td>
	<td><img src="C:\Users\user\PycharmProjects\django220325\static\터미네이터.jpg" alt="터미네이터" width=200 height=300></td></tr>
</tbody>
</table>

</body>
</html>