<!DOCTYPE html>
<html>
  <head>
   <meta charset="UTF-8">
   <title>로그인</title>
  </head>
<body>
<center><img src='C:\Users\user\PycharmProjects\django220325\static\fakeflix.png' alt="fakeflix"width=250 height=100></center>
<br>
<br>
<form>
   <fieldset>
      <legend>로그인</legend>
      <ul>
      <li>아이디
	<input type="text" name="아이디" value="아이디를 입력하시오" /></li><br>
      <li>비밀번호
	<input type="password" name="pass"  />
      </li></ul>
     <a href='메인 화면.html'><input type="button" value="로그인" /></a>
     <a href='회원가입.html'><input type="button" value="회원가입" /></a>
   </fieldset>
</form>
</body>
</html>