<!DOCTYPE html>
<html>
 <head>
 <meta charset="EUC-KR">
  <title>"IF / ELSE "</title>
 </head>
<body>
 <h1> IF / ELSE & LOOP  </h1>


{% if answer %}
    <p>if/else information.</p>
{% endif %}

{% if answer > a and  answer < b %}
   <p> {{answer}} is greater than {{a}} and smaller than {{b}}
{% endif %}

<br>
 -------------------------------
 <br>
{% for i in '123' %}
    {{ forloop.counter0 }}
{% endfor %}

<br/>
{% for i in 'abcde' %}
    {{ forloop.counter }}
{% endfor %}

<br/>

{% for i in 'abcde' %}
    {{ forloop.revcounter }}
{% endfor %}

<br/>

{% for i in 'abcde' %}
    {{ forloop.revcounter0 }}
{% endfor %}

<br/>

{% for i in 'abcde' %}
    {{ forloop.first }}
{% endfor %}

<br/>

{% for i in 'abcde' %}
    {{ forloop.last }}
{% endfor %}

{% for i in weekday %}
<p> {{i}}</p>
{% endfor %}

<p> ---------------- </p>

{% for i in 'abcde' %}
 {% for j in weekday %}
    {{j}}
    {{forloop.parentloop.counter}}

  {% endfor %}
  <br/>
{% endfor %}

</body>
</html>




