<!DOCTYPE html>
<html lang="en">
<head>
    <title>MOVIE</title>
</head>
<body bgcolor="#C5E8FF">
  <h1><font size="7"><span style="background:#FFE07D;"> <b> MOVIE </b></font></span>
  </h1>
    <center><input class="user-input" type="text" name="search" placeholder="Search..."><input class="user-btn" type="button" value="Go"></center>
    <p align="right">Login</p>
<center><article>
    <p><font size="4">Newest</font></p>
    <section><p>Doctor Strange...</p></section>
</article></center>
<nav>
<p>
    <div style="background:#7C9CD6;">
    <ul><font color="white"><font size="5">
    <li><font style="line-height:2;">Coming soon</font>
    </li>
    <li>Genre
      <ul>
         <li>Action</li>
         <li>Comedy</li>
         <li>Drama</li>
         <li>Fantasy</li>
         <li>Horror</li>
         <li>Romance</li>
         <li>Musical</li>
         <li>Suspense</li>
       </ul>
    </li>
    <li><font style="line-height:2">Feedback</font>
    </li>
    </font>
    </font>
    </ul>
</div></p>
</nav>

</body>
</html>
