<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta charset="UTF-8" name="viewport" content="width=device-width"/>

</head>
<body>
    <form class="form-inline">
        {% csrf_token %}
        <div class="form-group">
            <!--<label>Movie Title</label>
            <input type="text" id="title" class="form-control" style="width:30%;" required="required"/>
            <br>

            <label>Poster URL</label>
            <input type="url" id="posterURL" name="homepage"  class="form-control" style="width:70%;" required="required">

            <label>Director</label>
            <input type="textarea" id="director" class="form-control" style="width:70%;" required="required"/>

            <label>Cast</label>
            <input type="textarea" id="cast" class="form-control" style="width:70%;" required="required"/>

            <label>Genre</label>
            <input type="textarea" id="genre" class="form-control" style="width:70%;" required="required"/>-->

            {{ movies_form }}

            <button type="button" id="create" class="btn btn-sm btn-primary">Create</button>
        </div>
    </form>
    <br />

    <table class="table table-bordered">
        <thead class="alert-success">
            <tr>
                <th>Movie Title</th>
                <th>Poster URL</th>
                <th>Director</th>
                <th>Cast</th>
                <th>Genre</th>
                <th>#People evaluated</th>
                <th>Total Score</th>
                <th>Edit / Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for m in moviesList %}
            <tr>
                <td>{{ m.movie_title }}</td>
                <td>{{ m.poster }}</td>
                <td>{{ m.director}}</td>
                <td>{{ m.cast}}</td>
                <td>{{ m.genre_name }}</td>
                <td>{{ m.ne }}</td>
                <td>{{ m.total_score }}</td>
                <td><center><a class="btn btn-sm btn-warning edit" name="{{ p.id }}">Edit</a> <a class="btn btn-sm btn-danger delete" name="{{ p.id }}">Delete</a></center></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <div id="result">
    </div>


</body>
</html>