


    <form class="d-none d-md-flex input-group w-auto my-auto" id="search2">
        {% csrf_token %}
          <div class="autocomplete" style="width:300px;">
            <input id="viz" type="search" name="myMovie2" placeholder="Movie" class="form-control rounded" style="min-width: 225px">
            </div>
          <span class="input-group-text border-0">
              <button style="border: 0px;" id="btnSearch"><i class="fas fa-search"></i></button>
              </span>
      </form>

    <div id = "container2" style = "width: 550px; height: 400px; margin: 0 auto">
      </div>

    <div class="container">
        <table class="table table-bordered">
            <thead class="alert-success">
                <tr>
                    <th>Title</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>
    </div>




